.custon-text-color {
  color: #f77619 !important;
}
.custon-border-color {
  border: 2px solid #f77619 !important;
}
.custon-bg-color {
  background-color: #f77619 !important;
}
.btn:hover {
  background-color: #f77619 !important;
}
.main-part-bg {
  background-color: #edf2f2;
}
.footer-bg {
  background: #263a4a;
}
.form-bg-color {
  background: #def0f9 !important;
}
.bg-img {
  background: url("../img/machine.jpg") no-repeat center center;
  background-size: cover;

  height: 100%;
}

.carousel-indicators {
  justify-content: end !important;
  margin-right: 20px !important;
}

.carousel-indicators button {
  height: 5px !important;
  opacity: 1 !important;
  width: 20px !important;
  border: 2px !important;
}

.carousel-indicators .active {
  background: #ec4b05 !important;
}
.album {
  display: flex;
  flex-wrap: wrap;

}

.frame {
  width: 202px;
  height: auto;
  border-radius: 10px;
  /* border: 2px solid red; */
  position: relative;
  margin: 10px;
  overflow: hidden;
}

.photo img {
  width: 100%;
  border-radius: 10px;

}






